@using Microsoft.AspNet.Identity
@model IEnumerable<LetsTravel.Models.ExcursionForTraveller>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<meta name="viewport" content="width=device-width" />
<link href="~/Styles/excursionCardStyles.css" rel="stylesheet" />
<title>All Excursions</title>

<h2 align="left"><span class="profile-title">All Excursions:</span></h2>


<div class="row">
    @foreach (var excursion in Model)
    {
        <div class="col-md-6">
            <div class="card">
                <div class="section-vcardbody section-home ps-container" id="section-home" data-ps-id="e1e33774-dcb3-1f4c-b285-f77d195d9137">
                    <!-- Description -->
                    <div class="vcard-profile-description">
                        <!-- Profile title -->
                        <h2 class="profile-subtitle">City: @excursion.City</h2>

                        <div class="vcard-profile-description-text">
                            <p>Date: @excursion.Date.ToShortDateString()</p>
                            <p>Description: @excursion.Description</p>
                            <p>Duration: @excursion.Duration</p>
                            <p>Limit of people: @excursion.PeopleLimit</p>
                            <p>Price: @excursion.Price $</p>
                            <p>Route: @excursion.Route</p>
                        </div>
                        <div class="vcard-profile-description-text">
                            <!-- item -->
                            <div class="vcard-profile-description-ft-item">
                                @if (excursion.CouldBeSubscribed)
                {
                                    @Html.ActionLink("Subscribe", "Subscribe", "Traveller", excursion, new { @class = "btn btn-success" })
                                }
                                else
                                {
                                    <h2>
                                        <span class="label label-info">
                                            @excursion.ReasonForSubscribingDisability
                                        </span>

                                    </h2>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


