@model IEnumerable<Domain.Entities.Excursion>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Excursions";
}

<link href="~/Styles/excursionCardStyles.css" rel="stylesheet" />

<h2 align="left">
    <span class="profile-title">All Excursions:</span>
</h2>

<div class="row">
    @foreach (var excursion in Model)
    {
        <div class="col-md-6">
            <div class="card">
                <div class="section-vcardbody section-home">
                    <div class="vcard-profile-description">
                        <h2 class="profile-subtitle">City: @excursion.City</h2>
                        <div class="vcard-profile-description-text">
                            <p>Date: @excursion.Date.ToShortDateString()</p>
                            <p>Description: @excursion.Description</p>
                            <p>Duration: @excursion.Duration</p>
                            <p>Limit of people: @excursion.PeopleLimit</p>
                            <p>Price: @excursion.Price $</p>
                            <p>Route: @excursion.Route</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>