@using Microsoft.AspNet.Identity
@model IEnumerable<LetsTravel.Models.ExcursionForTraveller>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/excursionCardStyles.css" rel="stylesheet" />
    <title>All Excursions</title>
</head>
<body>
<h2 align="left"><span class="profile-title">All Excursions:</span></h2>
@foreach (var excursion in Model)
{
    <div class="section-vcardbody section-home ps-container" id="section-home" data-ps-id="e1e33774-dcb3-1f4c-b285-f77d195d9137">    
        <!-- Description -->
        <div class="vcard-profile-description">
            <!-- Profile title -->
            <h1 class="profile-title">Hi! <span class="color1">Excursion @excursion.ExcursionId</span></h1>
            <h2 class="profile-subtitle">City: @excursion.City</h2>
          
            <div class="vcard-profile-description-text">
                <p>Date: @excursion.Date.ToShortDateString()</p>
                <p>Description: @excursion.Description</p>
                <p>Duration: @excursion.Duration</p>
                <p>Limit of people: @excursion.PeopleLimit</p>
                <p>Price: @excursion.Price $</p>
                <p>Route: @excursion.Route</p>               
            </div>
            <div class="vcard-profile-description-feature">
                <!-- item -->
                <div class="vcard-profile-description-ft-item">
                    @if (excursion.CouldBeSubscribed)
                {
                        @Html.ActionLink("Subscribe", "Subscribe", "Traveller", excursion, null)
                    }
                    else
                    {
                        <h3>
                            @excursion.ReasonForSubscribingDisability
                        </h3>
                    }
                </div>
            </div>
        </div>     
    </div> 
    }
</body>
</html>
