@model LetsTravel.Models.ExcursionModel
@{
    ViewBag.Title = "CreateExcursionView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href="~/Styles/bootstrap.css" rel="stylesheet" />
<link href="~/Styles/ValidationStyles.css" rel="stylesheet" />
<link href="~/Styles/stylesForForm.css" rel="stylesheet" />

<style>
    .textarea {
        width: 100% !important;
        height: 50px !important;
        border: 1px solid #ccc;
        resize: none;
    }

    .text-box {
        width: 100% !important;
        height: 50px !important;
        border: 1px solid #ccc;
        resize: none;
        padding-left: 10px;
    }
</style>

<div class="modal-body">
    <div class="row">
        <label id="font-added">
            Please enter information about excursion!
        </label>
    </div>
    @Html.ValidationSummary()
    @using (Html.BeginForm("CreateExcursion", "Guide", FormMethod.Post))
    {
        <div class="form-group">
            <label><b>City</b></label>
            @Html.TextBoxFor(x => x.City, new { @id = "username", placeholder = "Enter " + Html.DisplayNameFor(n => n.City) })
        </div>
            <div class="form-group">
                <label><b>Date</b></label>
                @Html.TextBoxFor(x => x.Date, new { @id = "username", placeholder = "Enter " + Html.DisplayNameFor(n => n.Date) })
            </div>
            <div class="form-group">
                <label><b>Duration</b></label>
                @Html.TextBoxFor(x => x.Duration, new { @id = "username", placeholder = "Enter " + Html.DisplayNameFor(n => n.Duration) })
            </div>
            <div class="form-group">
                <label><b>Route</b></label>
                @Html.TextBoxFor(x => x.Route, new { @id = "username", placeholder = "Enter " + Html.DisplayNameFor(n => n.Route) })
            </div>
                    <div class="form-group">
                        <label><b>People limit</b></label>
                        @Html.TextBoxFor(x => x.PeopleLimit, new { @id = "username", placeholder = "Enter " + "People Limit" })
                    </div>
                    <div class="form-group">
                        <label><b>Price</b></label>
                        @Html.TextBoxFor(x => x.Price, new { @id = "username", placeholder = "Enter " + Html.DisplayNameFor(n => n.Price) })
                    </div>
                    <div class="form-group">
                        <label><b>Description</b></label>

                        @Html.EditorFor(x => x.Description, new { htmlAttributes = new { placeholder = "Enter " + Html.DisplayNameFor(n => n.Description) } })

                    </div>
                    <div class="row">

                        <div class="col-md-4 col-md-offset-4">
                            <button type="submit" class="btn btn-danger">Save</button>
                            @Html.ActionLink("Cancel", "GetAllExcursions", "Excursion", null, new { @class = "btn btn-default" })
                        </div>
                    </div>
    }
</div>
