@model IEnumerable<LetsTravel.Models.ExcursionSubscribersViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <link href="~/Styles/bootstrap.css" rel="stylesheet" />
</head>
@{
    ViewBag.Title = "Excursions";
}

<div class="container">
    <h2>My Excursions</h2>
    @foreach (var excursion in Model)
    {
        <div class="list-group">
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">@excursion.City</h4>
                <p class="list-group-item-text">@excursion.Date.ToShortDateString()</p>
                <p class="list-group-item-text">@excursion.Description</p>
                <p class="list-group-item-text">@excursion.Duration</p>
                <p class="list-group-item-text">@excursion.PeopleLimit</p>
                <p class="list-group-item-text">@excursion.Price</p>
                <p class="list-group-item-text">@excursion.Route</p>
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">View Subscribers</button>
                <div id="demo" class="collapse">
                    <p class="list-group-item-text">
                        @if (excursion.Subscribers.Count == 0)
                        {
                            @: No subscribers
                        }
                        else
                        {
                            foreach (var subscriber in excursion.Subscribers)
                            {
                                <li>
                                    @subscriber.FirstName
                                    @subscriber.LastName
                                    @subscriber.Email
                                    @subscriber.AboutMyself
                                </li>
                            }
                        }

                    </p>
                </div>
            </a>
        </div>
    }
</div>




