@model IEnumerable<LetsTravel.Models.ExcursionModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <link href="~/Styles/bootstrap.css" rel="stylesheet" />
    <link href="~/Styles/excursionCardStyles.css" rel="stylesheet" />
    <title>Own excursions</title>

    <style>
        .btn-success {
            background: #449d44 !important;
            border-radius: 5px !important;
        }

        .btn-danger {
            background: #c9302c !important;
            border-radius: 5px !important;
        }
    </style>
</head>
@{
    ViewBag.Title = "Excursions";
}

<body>
    <h2 align="left"><span class="profile-title">Own Excursions:</span></h2>
    @if (TempData["excursionDeleted"] != null)
    {
        <div class="alert alert-danger">@TempData["excursionDeleted"]</div>
    }
    @foreach (var excursion in Model)
    {
        <div class="section-vcardbody section-home ps-container" id="section-home" data-ps-id="e1e33774-dcb3-1f4c-b285-f77d195d9137">
            <!-- Description -->
            <div class="vcard-profile-description">
                <!-- Profile title -->
                <!--<h1 class="profile-title">Hi! <span class="color1">Excursion @*@excursion.ExcursionId*@</span></h1>-->
                <h2 class="profile-subtitle">City: @excursion.City</h2>

                <div class="vcard-profile-description-text">
                    <p>Date: @excursion.Date.ToShortDateString()</p>
                    <p>Description: @excursion.Description</p>
                    <p>Duration: @excursion.Duration</p>
                    <p>Limit of people: @excursion.PeopleLimit</p>
                    <p>Price: @excursion.Price $</p>
                    <p>Route: @excursion.Route</p>
                </div>
                <div class="vcard-profile-description-text">
                    <!-- item -->
                    <div id="normal-button">
                        <button type="button" class="btn btn-info" data-toggle="collapse" data-target=@excursion.ModalId>View Subscribers</button>

                        @Html.ActionLink("Edit Excursion", "EditExcursion", "Guide", excursion, new { @class = "btn btn-success btn-style" })

                        @using (Html.BeginForm("DeleteExcursion", "Guide"))
                        {
                            @Html.Hidden("excursionId", excursion.ExcursionId)
                            <input type="submit"
                                   class="btn btn-danger"
                                   onclick="return confirm('Are you sure you wish to delete this excursion?');"
                                   value="Delete" />
                        }

                    </div>
                    <div id="@excursion.ExcursionId" class="collapse">
                        <p class="list-group-item-text">
                            @if (excursion.Subscribers.Count == 0)
                            {
                                @: No subscribers
                                }
                            else
                            {
                                foreach (var subscriber in excursion.Subscribers)
                                {
                                    <label>First Name:</label> @subscriber.FirstName
                                    <br />
                                    <label>Last Name:</label>  @subscriber.LastName
                                    <br />
                                    <label>Email:</label>  @subscriber.Email
                                    <br />
                                        <label>About me:</label>  @subscriber.AboutMyself
                                }
                            }
                        </p>
                    </div>

                </div>
            </div>
        </div>
    }
</body>
</html>
