@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lets travel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Styles/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <style>
        /* Set black background color, white text and some padding */
        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }
    </style>

    <style>
        .modal-content {
            width: 600px !important;
            margin: 30px auto !important;
        }
        .modal-link {
            text-align: left !important;
        }
    </style>
</head>


<body>


    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Let`s travel!</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">

                    <li>
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>

                    <li>
                        @Html.ActionLink("Profile", "ShowProfile", "User")
                    </li>

                    @if (User.IsInRole("Guide"))
                    {
                        <li>
                            @Html.ActionLink("Own Excursions", "ShowOwnExcursions", "Guide")
                        </li>
                    }
                    @if (User.IsInRole("Guide"))
                    {
                        <li>
                            @Html.ActionLink("Create excursion", "CreateExcursion", "Guide", null, new { @class = "modal-link btn " })
                        </li>

                    }
                    @if (User.IsInRole("Traveller"))
                    {
                        <li>
                            @Html.ActionLink("Subscribed Excursions", "ShowSubscribedExcursions", "Traveller")
                        </li>
                    }
                    <li>
                        @Html.ActionLink("All excursions", "GetAllExcursions", "Excursion")
                    </li>

                    <span class="glyphicon glyphicon-user">
                    </span>
                    <li>
                        @Html.ActionLink("Log out", "LogOut", "Account")
                    </li>
                </ul>
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </nav>
    <div class="container text-center">
        <div class="container">
            <div class="row">

                <div class="col-sm-7">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    @*<footer class="container-fluid text-center">
            <p>© ¡Lets Travel!</p>
        </footer>*@


</body>

</html>


<div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-content">
    </div>
</div>

<script>

</script>

<script type="text/javascript">
    $(function () {
        // Initialize numeric spinner input boxes
        //$(".numeric-spinner").spinedit();

        // Initalize modal dialog
        // attach modal-container bootstrap attributes to links with .modal-link class.
        // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
        $('body').on('click', '.modal-link', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-container');
            $(this).attr('data-toggle', 'modal');
        });

        // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
        $('body').on('click', '.modal-close-btn', function () {
            $('#modal-container').modal('hide');
        });

        //clear modal cache, so that new content can be loaded
        $('#modal-container').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
        });

        $('#CancelModal').on('click', function () {
            return false;
        });
    });
</script>