@model Domain.Entities.User
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/profileStyles.css" rel="stylesheet" />
    <link href="~/Styles/ValidationStyles.css" rel="stylesheet" />
    <title>Edit</title>
    <style>
        .textarea {
            width: 314px !important;
            height: 50px;
            border-radius: 5px !important;
            border: 1px solid #ccc !important;
            resize: none !important;
        }

        .text-box {
            width: 314px !important;
            height: 50px;
            border-radius: 5px;
            border: 1px solid #ccc;
            resize: none !important;
        }

        #About {
            font-family: Montserrat !important;
            width: 314px !important;
            height: 100px !important;
            border-radius: 5px !important;
            border: 1px solid #ccc !important;
            resize: none !important;
        }
    </style>
</head>

<body>

    <div class="row">

        @using (Html.BeginForm("Edit", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary()
            <div class="section-vcardbody section-home container-fluid" id="section-home">
                <div class="vcard-profile-pic">
                    @if (Model.ImageData != null)
                    {

                        <img src="@Url.Action("GetImage", "User", new {id = Model.Id})" />

                    }
                    else
                    {
                        <img src="~/Images/defaultImage.png" />
                    }



                </div>

                <div class="vcard-profile-description">
                    <div class="vcard-profile-description-text" id="font-style">

                        <div style="position: relative">
                            <a class="btn" href="javascript:;">
                                <label>Choose File...</label>

                                <input type="file" name="Image" size="40"
                                       style="position: absolute; z-index: 2; top: 0; left: 0; filter: alpha(opacity=0); opacity: 0; background-color: transparent; color: transparent;"
                                       onchange='$("#upload-file-info").html(this.files[0].name)'>
                                <span id="upload-file-info">
                                </span>
                            </a>
                        </div>
                        <div class="vcard-profile-description-text" id="font-style">
                            @Html.HiddenFor(x => x.Id)
                            <p>
                                <label>Nickname: </label>
                            </p>
                            <p>
                                @Html.EditorFor(x => Model.UserName)
                            </p>

                            <p>
                                <label>First Name: </label>
                            </p>
                            <p>
                                @Html.EditorFor(x => Model.FirstName)
                            </p>

                            <p>
                                <label>Last Name: </label>
                            </p>
                            <p>
                                @Html.EditorFor(x => Model.LastName)
                            </p>

                            <p>
                                <label>Email: </label>
                            </p>
                            <p>
                                @Html.EditorFor(x => Model.Email)
                            </p>

                            <p>
                                <label>About: </label>
                            </p>
                            <p>
                                @if (Model.AboutMyself == null)
                                {
                                    Model.AboutMyself = "";
                                }

                                @Html.TextAreaFor(x => Model.AboutMyself, new { @id = "About" })

                            </p>

                            <input type="submit" value="Save" class="btn btn-success" />
                            @Html.ActionLink("Cancel", "ShowProfile", "User", null, new { @class = "btn btn-default" })

                        </div>

                    </div>

                </div>


            </div>
        }
    </div>

</body>
</html>
