
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<LetsTravel.Models.ExcursionWithGuideInfoViewModel>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <link href="~/Styles/bootstrap.css" rel="stylesheet" />
</head>
@{
    ViewBag.Title = "Excursions";
}

<div class="container">
    <h2>My Excursions</h2>
    @foreach (var excursion in Model)
    {
        <div class="list-group">
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">@excursion.City</h4>
                <p class="list-group-item-text">@excursion.Date.ToShortDateString()</p>
                <p class="list-group-item-text">@excursion.Description</p>
                <p class="list-group-item-text">@excursion.Duration</p>
                <p class="list-group-item-text">@excursion.PeopleLimit</p>
                <p class="list-group-item-text">@excursion.Price</p>
                <p class="list-group-item-text">@excursion.Route</p>
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target=@excursion.ModalId>View Guide info</button>
                <div id=@excursion.ExcursionId class="collapse">
                    <p class="list-group-item-text">
                   @excursion.Guide.FirstName
                        @excursion.Guide.LastName
                        @excursion.Guide.AboutMyself
                        @excursion.Guide.Email
                    </p>
                </div>
                    @Html.ActionLink("UnSubscribe", "UnSubscribe", "Traveller", excursion, null)
          
            </a>
        </div>
    }
</div>




